[project]
	description = Personal blog site powered by hexo.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris (Yiiinsh)
[access "refs/for/refs/*"]
	read = group user/Chris (Yiiinsh)
	push = group user/Chris (Yiiinsh)
	label-Code-Review = -2..+2 group user/Chris (Yiiinsh)
	label-Verified = -1..+1 group user/Chris (Yiiinsh)
	rebase = group user/Chris (Yiiinsh)
	removeReviewer = group user/Chris (Yiiinsh)
	submit = group user/Chris (Yiiinsh)
[access "refs/heads/*"]
	read = group user/Chris (Yiiinsh)
	create = group user/Chris (Yiiinsh)
	push = +force group user/Chris (Yiiinsh)
	pushMerge = group user/Chris (Yiiinsh)
[access "refs/tags/*"]
	push = +force group user/Chris (Yiiinsh)
	pushTag = group user/Chris (Yiiinsh)
	pushSignedTag = group user/Chris (Yiiinsh)
